<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:insert="plantilla/UITemplate :: cabecera">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Carreras</title>

</head>

<body>

	<div th:insert="plantilla/UITemplate :: menu"></div>

	<div class="container" >
		<div class="container" th:if="${session.tipo}">
			<h3 class="text-center mt-4">LISTA DE CARRERAS</h3>
			<a type="button" class="btn btn-primary my-3 btn-editar" id="btn-nuevo" th:href="@{/carrera/agregar}">
				<i class="far fa-file"></i> Nueva Carrera
			</a>
			<div class=" mt-2">

				<table class="table table-striped table-bordered shadow" id="tableCarrera">
					<thead>
						<tr>
							<th>Código</th>
							<th>Carrera</th>
							<th>Duración</th>
							<th>Descripción</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data:${carrera}">
							<td th:text="${data.idCarrera}"></td>
							<td th:text="${data.nombreCarrera}"></td>
							<td th:text="${data.duracion}"></td>
							<td th:text="${data.descripcion}"></td>
							<td><a class="btn btn-info btn-editar" th:href="@{/carrera/editar/}+${data.idCarrera}"><i
										class="far fa-edit"></i></a></td>
							<td><a class="btn btn-danger btn-eliminar"
									th:href="@{/carrera/eliminar/}+${data.idCarrera}"><i
										class="far fa-trash-alt"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div id="myModal" class="modal">
				<div class="modal-dialog modal-dialog-centered modal-login modal-lg">
					<div class="modal-content shadow">
						<div class="modal-header bg-body-secondary">
							<h5 class="modal-title">Administrar carreras</h5>
						</div>
						<div class="modal-body">
							<!-- Aquí se mostrará el contenido de la ruta -->
						</div>

					</div>
				</div>
			</div>

			<!-- begin #modal-dialog : MODAL CARRERA-->
			<div class="modal fade" id="modalCarrera" data-backdrop="static" data-keyboard="false" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-login modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-blue-darker translucent">
							<h4 class="modal-title text-white">Carrera</h4>
						</div>
						<div class="modal-body">

						</div>
					</div>
				</div>
			</div>
			<!-- FIN Modal CARRERA-->
		</div>
		<!-- CONSULTA CARRERA -->
		<div class="container">

			<h3 class="text-center mt-4">CONSULTA CURSOS</h3>
			<div>
				<p>
					<label for="idCarrera"><b>Carrera:</b></label>
					<select class="form-control-sm" id="idCarrera" name="carrera" th:field="*{carrera}">
						<option value=" ">[Seleccione carrera]</option>
						<option th:each="row:${carrera}" th:utext="${row.nombreCarrera}" th:value="${row.idCarrera}" />
					</select>

					<select class="form-control-sm" id="idCiclo" name="ciclo">
						<option value=" ">[Seleccione ciclo]</option>
						<option value="1">primero</option>
						<option value="2">segundo</option>
						<option value="3">tercero</option>
						<option value="4">cuarto</option>
						<option value="5">quinto</option>
						<option value="6">sexto</option>
					</select>
				</p>
				<input type="button" class="btn btn-primary" id="btn-consulta" value="Consultar" />
			</div>

			<div class=" mt-2">

				<table class="table table-striped table-bordered  shadow" id="tableConsulta">
					<thead>
						<tr>
							<th>Código</th>
							<th>Carrera</th>
							<th>Ciclo</th>
							<th>Curso</th>
							<th>Créditos</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- FIN CONSULTA CARRERA -->

			<div th:insert="plantilla/UITemplate :: javascript"></div>
			<script>

				$(document).ready(function () {
					$('.btn-editar').click(function (event) {
						event.preventDefault(); // Evitar que el enlace se abra en una nueva página

						var url = $(this).attr('href'); // Obtener la URL del enlace


						// Realizar una solicitud AJAX para obtener el contenido de la ruta
						$.get(url, function (data) {
							// Actualizar el contenido del modal con la respuesta
							$('#myModal .modal-body').html(data);

							// Mostrar el modal
							$('#myModal').show();
						});

					});
				});


				$(document).ready(function () {
					$('.btn-eliminar').click(function (event) {
						event.preventDefault(); // Evitar que el enlace se abra en una nueva página

						var nombreCarrera = $(this).parents("tr").find("td")[1].innerHTML; // Obtener el nombre de la carrera de la segunda columna
						var urlEliminar = $(this).attr('href');

						alertify.confirm('¿Estás seguro de eliminar la carrera "' + nombreCarrera + '"?',
							function () { // Confirmado
								window.location.href = urlEliminar;
							},
							function () { // Cancelado
								alertify.error('Cancelado!');
							}
						).set('labels', {ok: 'Si', cancel: 'No'}).show();
					});
				});


				$(document).ready(function () {
					$('#btn-consulta').click(function (event) {
						event.preventDefault(); // Evitar que el enlace se abra en una nueva página

						var idCarrera = $("#idCarrera").val();
						var idCiclo = $("#idCiclo").val();
						console.log("lalalalala");
						$.get('/carrera/buscarPorIdCiclo?idCarrera=' + idCarrera + "&idCiclo=" + idCiclo, function (response) {
							// Limpiar la tabla antes de llenarla con nuevos datos
							console.log(response);
							$('#tableConsulta tbody').empty();

							// Recorrer los datos del JSON y agregar filas a la tabla
							$.each(response, function (index, curso) {
								var row = '<tr>' +
									'<td>' + curso.id_curso + '</td>' +
									'<td>' + curso.nombreCurso + '</td>' +
									'<td>' + curso.cursosCiclo[String(0)].cicloAcademico.descripcion + '</td>' +
									'<td>' + curso.id_curso + '</td>' +
									'<td>' + curso.id_curso + '</td>' +
									'</tr>';

								$('#tableConsulta tbody').append(row);

							});



						})
					});
				});
				/*
			$(document).on("change", "#idCarrera", function () {
				let cod;
				cod = $(this).val();
				$.get("/carrera/buscar", function (response) {
					//var tbody = $('#tableConsulta tbody');
					
				})
			})
				*/
			</script>
</body>

</html>