<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="plantilla/UITemplate :: cabecera">
<meta charset="ISO-8859-1">
<title>Horario y Seccion</title>



</head>
<body>
	<!--consumir fragmento-->
	<div th:insert="plantilla/UITemplate :: menu"></div>
	
	<div class="container">
		
			<h3 class="text-center mt-4">LISTA DE HORARIO Y SECCION</h3>
			
			<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalHorario" id="btn-nuevo">
			 <i class="far fa-file"></i> Nuevo Horario
			</button>
			<div class=" mt-2">
	
				<table class="table table-striped table-bordered mt-5" id="tableHorarios">
							  <thead>
							   <tr>
					                <th>Código</th>
					                <th>Curso</th>
					                <th>Seccion</th>
					                <th>Dia</th>
					                <th>Fecha de inicio</th>
					                <th></th>
					                <th></th>
					            </tr>
							  </thead>
							  <tbody>
								<tr th:each="data:${listaHorario}">
							      <td th:text="${data.codigo}"></td>
							      <td th:text="${data.curso.nombre}"></td>
							      <td th:text="${data.seccion}"></td>
							      <td th:text="${data.dia}"></td>
							      <td th:text="${data.horario}"></td>
							      <td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalHorario"><i class="far fa-edit"></i></a></td>
							      <td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
							    </tr>  
							  </tbody>
				</table>
			</div>
		
		
			<!-- begin #modal-dialog : MODAL MEDICAMENTO-->
			<div class="modal fade" id="modalHorario" data-backdrop="static" 
							data-keyboard="false" tabindex="-1" 
							aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-login modal-lg" >					
							<div class="modal-content">
								<div class="modal-header bg-blue-darker">
									<h4 class="modal-title text-white">Horario y Seccion</h4>
								</div>
								<div class="modal-body">
									<form method="POST" id="idRegistra" action="/horario/grabar">	
										<input type="text" name="codigo" id="idCodigo" value="0">
										<div class="container">
											<div class="row">
												<div class="form-group has-feedback col-md-12">
														<label for="exampleInputEmail1"><b>Horario</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idHorario" placeholder="Ingresar horario" name="horario">																										
												</div>
												<div class="form-group has-feedback col-md-12">
														<label for="exampleInputEmail1"><b>Seccion</b></label><br>
														<textarea class="form-control" id="idSeccion" rows="6" name="seccion" 
																					   placeholder="Ingresar seccion" style="padding-left: 5px!important;"></textarea>												
												</div>
												<div class="form-group has-feedback col-md-4">
													<label for="exampleInputEmail1"><b>Dia</b></label><br>	
													<i class="fas fa-pen-fancy form-control-feedback2"></i>
													<input type="text" class="form-control" id="idDia" placeholder="Ingresar dia" name="dia">	
												</div>
												
											    <div class="form-group has-feedback col-md-6">	
														<label for="exampleInputEmail1"><b>Curso</b></label><br>
												        <i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
													    <select class="form-control" id="idCurso" name="curso">
													      <option value=" ">[Seleccione Curso]</option>
													      <option th:each="row:${listaCursos}"
													      				th:utext="${row.nombre}"
													      				th:value="${row.codigo}"
													      				/>
													    </select>
													   
												 </div>

												 
												 
												 
												 
											</div>
										</div>								
										<div class="col-md-12 text-center mt-4"> 										
											<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
											<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
										</div> 																								
									</form>
								</div>
							</div>
						</div>
		</div>
		<!-- FIN Modal MEDICAMENTO-->	
		<form action="/horario/eliminar" method="post" id="frm-eliminar">
			<input type="hidden" name="codigo" id="codigo-eliminar"/>
			
		</form>
	
	
	
	</div>
	
	<div th:insert="plantilla/UITemplate :: java"></div>
	
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});

		
	</script>
	
	
	<script>
		let codigoCurso=-1;
		
		$('#tableHorarios').DataTable();
		$(function() {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
	
		});
		$('#usr1').on('changeDate show', function(e) {
		    $('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});

	//asignar evento click a todos los botones con nombre de clase "btn-editar"
	$(document).on("click",".btn-editar",function(){
		//variable
		let cod;
		//obtener el código del medicamento según el botón editar que se pulsó
		cod=$(this).parents("tr").find("td")[0].innerHTML;
		//función get de JQUERY lee una ruta que retorna un JSON
		$.get("/horario/buscar?codigo="+cod,function(response){
			//mostrar en los controles los valores de la response
			$("#idCodigo").val(response.codigo);
			$("#idHorario").val(response.horario);
			$("#idSeccion").val(response.seccion);
			$("#idDia").val(response.dia);
			$("#idCurso").val(response.curso.codigo);
			codigoCurso=response.curso.codigo;
		})
		
	})
	//asignar evento click al botón con ID "btn-cerrar"
	$(document).on("click","#btn-cerrar",function(){
		//resetear el formulario
		$("#idRegistra").trigger("reset");
		$("#idCodigo").val(0);
		//resetear validaciones
		$("#idRegistra").data("bootstrapValidator").resetForm(true);
		
	})

	//asignar evento click a todos los botones con nombre de clase "btn-eliminar"
	$(document).on("click",".btn-eliminar",function(){
		//variable
		let cod;
		//obtener el código del medicamento según el botón editar que se pulsó
		cod=$(this).parents("tr").find("td")[0].innerHTML;
		$("#codigo-eliminar").val(cod);
		
		  alertify.confirm("SISTEMA","Seguro de eliminar!",
		  function(){//siiiiiiiiiiiiiiiii
				$("#frm-eliminar").submit();
		  },
		  function(){//nooooooooooooooooooooo 
			alertify.error('Cancelado!')
		  }).
		  set('labels', {ok:'Si', cancel:'No'});
	})

	

	</script>
	
	<script type="text/javascript">    
	    $(document).ready(function(){     
	
	        $('#idRegistra').bootstrapValidator({     
	        	feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	        	 fields:{
	        		 
	        		 Nombres: {
	     	    		selector:'#idNombre',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese nombre'    
	                        }      
	                    }    
	                },   
	                Descripcion: {
	     	    		selector:'#idDescripcion',       
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese descripción'    
	                        }      
	                    }    
	                },    
	                Stock: {
	     	    		selector:'#idStock',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese stock'    
	                        },
	                        regexp: {    
	                            regexp: /^[0-9]{1,2}$/,    
	                            message: 'Campo stock hasta dos cifras'    
	                        },   
	                    }    
	                },
	                precio: {
	     	    		selector:'#idPrecio',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese precio'    
	                        },
	                        regexp: {    
	                            regexp: /^(\d+|[0-9]+\.\d{1,2})$/,    
	                            message: 'Campo precio real hasta dos decimales'    
	                        },   
	                    }    
	                },       				
	                Fecha: {
	     	    		selector:'#usr1',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione fecha '    
	                        },
	                        date: {
	                            format: 'YYYY-MM-DD',
	                            message: 'The format is dd/mm/yyyy'
	                        },
	                    }    
	                },
	                Tipo: {
	     	    		selector:'#idTipo',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione tipo medicamento'    
	                        },					
	                    }    
	                } 
	        	 }
	        })					
	    });    
	</script>   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>