<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:insert="plantilla/UITemplate :: cabecera">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intranet</title>
</head>

<body>

	<div class="container">
		<h3 class="text-center mt-3">Matricula</h3>

		<form class="my-1" method="POST" id="formRegistra" th:action="@{/matricula/grabar}" th:object="${usuario}">

			<div class="card my-4 shadow rounded-3">
				<h5 class="card-header">Datos del alumno</h5>
				<div class="card-body">
					<div class="row">
						<input type="text" class="form-control" id="idCodigo" th:field="*{idUsuario}" name="usuario" hidden>
						<div class="col-md-6">
							<label for="idNombre" class="form-label">Nombres</label>
							<input type="text" class="form-control" id="idNombre" th:field="*{nombre}">
						</div>
						<div class="col-md-6">
							<label for="idApellido" class="form-label">Apellidos</label>
							<input type="text" class="form-control" id="idApellido" th:field="*{apellido}">
						</div>
						<div class="col-md-6 mt-1">
							<label for="idEmail" class="form-label">Email</label>
							<input type="email" class="form-control" id="idEmail" th:field="*{correoElectronico}">
						</div>
						<div class="col-md-6  mt-1">
							<label for="idClave" class="form-label">Password</label>
							<input type="text" class="form-control" id="idClave" th:field="*{clave}" readonly>
						</div>
						<div class="col-md-6  mt-1">
							<label for="idDni" class="form-label">Dni</label>
							<input type="number" class="form-control" id="idDni" th:field="*{dni}">
						</div>
						<div class="col-md-6  mt-2">
							<label for="idCarrera">Carrera</label>
							<select class="form-control" id="idCarrera" name="carrera">
								<option value=" ">[Seleccione]</option>
								<option th:each="row:${carrera}" th:utext="${row.nombreCarrera}"
									th:value="${row.idCarrera}" />
							</select>
						</div>
					</div>
				</div>
			</div>




			<div class="card my-4 shadow rounded-3">
				<h5 class="card-header">
					Cursos
				</h5>
				<div class="card-body">
					<table class="table" id="tableCursos">
						<thead>
							<tr>
								<th scope="col">Cod</th>
								<th scope="col">Nombre</th>
								<th scope="col">Ciclo</th>
								<th class="text-center" scope="col">Horarios</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th></th>
								<td></td>
								<td></td>
								<td class="text-center"><button type="button" class="btn mx-5 mb-1 b"
										style="background: rgb(120, 252, 186);" data-bs-toggle="modal"
										data-bs-target="#staticBackdrop">ver</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<div class="card my-4 shadow rounded-3">
				<h5 class="card-header">Horario</h5>
				<div class="card-body">
					<table class="table" id="tableAgenda">
						<thead>
							<tr>
								<th scope="col" class="text-center">Lunes</th>
								<th scope="col" class="text-center">Martes</th>
								<th scope="col" class="text-center">Miercoles</th>
								<th scope="col" class="text-center">Jueves</th>
								<th scope="col" class="text-center">Viernes</th>
								<th scope="col" class="text-center">Sabado</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
								<td class="text-center"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>



			<div class="col-12">
				<button type="submit" id="Guardar" class="btn btn-primary">Matricular</button>
			</div>
		</form>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Disponibles</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<table class="table" id="tableHorario">
						<thead>
							<tr>
								<th scope="col">Día</th>
								<th class="text-center" scope="col">Aula</th>
								<th class="text-center" scope="col">Inicio</th>
								<th class="text-center" scope="col">Fin</th>
								<th class="text-center" scope="col">Selecione</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th></th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div th:insert="plantilla/UITemplate :: javascript"></div>



		<script>
			$(document).ready(function () {

				// Capturar el cambio de valor en el select
				$('#idCarrera').change(function () {
					var selectedValue = $(this).val(); // Obtener el valor seleccionado
					let codigo = {value: selectedValue}.value;
					console.log(codigo);
					// Realizar una petición al controlador y obtener el JSON
					$.get('/carrera/buscarPorIdCiclo?idCarrera=' + codigo+"&idCiclo=1", function (response) {
						// Limpiar la tabla antes de llenarla con nuevos datos
						console.log(response);
						$('#tableCursos tbody').empty();

						// Recorrer los datos del JSON y agregar filas a la tabla
						$.each(response, function (index, curso) {
							var row = '<tr>' +
								'<td>' + curso.id_curso + '</td>' +
								'<td>' + curso.nombreCurso + '</td>' +
								'<td>' + curso.cursosCiclo[String(0)].cicloAcademico.descripcion + '</td>' +
								'<td class="text-center">' +
								'<button type="button" class="btn mx-5 mb-1 b ver-horarios-button" style="background: rgb(120, 252, 186);" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-codigo="' + curso.id_curso + '">ver</button>' +
								'</td>' +
								'</tr>';

							$('#tableCursos tbody').append(row);

						});

						// Agregar el evento click al botón "ver" dentro de la tabla
						$('#tableCursos').on('click', '.ver-horarios-button', function () {
							var codigoCurso = $(this).data('codigo'); // Obtener el código del curso del atributo data-codigo
							console.log("Codigo del curso");
							console.log(codigoCurso);
							// Obtener el curso correspondiente utilizando el código
							var curso = response.find(curso => curso.id_curso === codigoCurso);
							console.log("Cursos");
							console.log(curso);
							// Obtener los horarios del curso
							var horarios = curso.horarios;

							// Limpiar la tabla de horarios antes de llenarla con los nuevos datos
							$('#tableHorario tbody').empty();

							// Recorrer los horarios y agregar filas a la tabla
							$.each(horarios, function (index, horario) {
								var row = '<tr>' +
									'<td>' + horario.diaSemana + '</td>' +
									'<td>' + horario.aula + '</td>' +
									'<td>' + horario.horaInicio + '</td>' +
									'<td>' + horario.horaFin + '</td>' +
									'<td>' +
									'<button type="button" class="btn mx-5 mb-1 b agenda-button" data-bs-dismiss="modal" style="background: rgb(120, 252, 186);" data-codigo="' + horario.idHorario + '">+</button>' +
									'</td>' +
									'</tr>';

								$('#tableHorario tbody').append(row);

							});

							// Agregar el evento click al botón "agenda" dentro de la tabla de horarios
							$('#tableHorario').off('click', '.agenda-button').on('click', '.agenda-button', function () {
								var codigoHorario = $(this).data('codigo'); // Obtener el código del horario del atributo data-codigo

								// Obtener el horario correspondiente utilizando el código
								var horario = horarios.find(horario => horario.idHorario === codigoHorario);

								// Verificar si el horario y la propiedad diaSemana están definidos
								if (horario && horario.diaSemana) {
									// Obtener el día de la semana del horario actual
									var diaSemana = horario.diaSemana;

									// Buscar la columna correspondiente al día de la semana en la tabla de agenda
									var columna = $('#tableAgenda thead th').filter(function () {
										return $(this).text() === diaSemana;
									}).index();



									var newRow = $('<tr>'); // Crear un nuevo elemento <tr>


									$.get("/matricula/adicionar?id_horario=" + codigoHorario + "&id_curso=" + codigoCurso);

									// Recorrer las columnas de la tabla
									for (var i = 0; i < 6; i++) {
										if (i === columna) {
											newRow.append($('<td class="text-center">').html(curso.nombreCurso + '<br>' + horario.horaInicio + '-' + horario.horaFin));
										} else {
											// Agregar las columnas vacías
											newRow.append($('<td>'));
										}
									}

									// Agregar la nueva fila al cuerpo de la tabla
									$('#tableAgenda tbody').append(newRow);

									newRow = '';
								}
								horario = '';
							});

						});
					});
				});
			});
		</script>








</body>

</html>