<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:insert="plantilla/UITemplate :: cabecera">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intranet</title>
</head>

<body>
	<div th:insert="plantilla/UITemplate :: menu"></div>
	<div class="container">
		<form method="POST" id="formRegistra" action="/usuario/solicitante">
			<div class="mb-3" hidden>
				<label for="codigo" class="form-label">codigo</label>
				<input type="text" class="form-control" id="codigo" name="codigo" value="0" >
			</div><div class="mb-3" hidden>
				<label for="codigo" class="form-label">rol</label>
				<input type="text" class="form-control" id="idRol" name="rol" value="3" >
			</div>
			<div class="mb-3" hidden>
				<label for="login" class="form-label">login</label>
				<input type="text" class="form-control" id="login" name="login" >
			</div>
			<div class="mb-3">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="nombre" name="nombre" required>
				<small class="error-message"></small>
			</div>
			<div class="mb-3">
				<label for="apellidos" class="form-label">Apellidos</label>
				<input type="text" class="form-control" id="apellidos" name="apellido" required>
				<small class="error-message"></small>
			</div>
			<div class="mb-3">
				<label for="dni" class="form-label">DNI</label>
				<input type="text" class="form-control" id="dni" pattern="[0-9]{8}" name="dni" required>
				<small class="error-message"></small>
			</div>
			<div class="mb-3">
				<label for="celular" class="form-label">Celular</label>
				<input type="text" class="form-control" id="celular" pattern="[0-9]{9}" name="celular" required>
				<small class="error-message"></small>
			</div>
			<div class="mb-3">
				<label for="edad" class="form-label">Edad</label>
				<input type="number" class="form-control" id="edad" min="1" max="99" name="edad" required>
				<small class="error-message"></small>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email" name="email" required>
				<small class="error-message"></small>
			</div>
			<div class="mb-3">
				<label for="genero" class="form-label">Género</label>
				<select class="form-select" id="genero" name="sexo" required>
					<option value="">Seleccionar</option>
					<option value="masculino">Masculino</option>
					<option value="femenino">Femenino</option>
				</select>
				<small class="error-message"></small>
			</div>
			<button type="submit" class="btn btn-primary" id="submitBtn">Enviar solicitud</button>
		</form>
	</div>

	<div th:insert="plantilla/UITemplate :: javascript"></div>

</body>

</html>